<div class="container">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center" *ngIf="!error">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div *ngIf="message" class="text-green-700 mb-2">{{ message }}</div>
      <input formControlName="newPassword" type="password" placeholder="New Password" required>
      <button type="submit" [disabled]="resetForm.invalid ">
        Set New Password
      </button>
    </form>
  </div>
  <div class="center error-box" *ngIf="error">
    <div class="text-red-600" style="text-align:center;margin-bottom:16px;">
      {{ error }}<br>
      <a routerLink="/forgot-password" class="text-blue-600 underline">Start Over</a>
    </div>
  </div>
</div>
